body
  background: black
  color: white
  text-align: center
  font-family: 'Josefin Slab', serif

h1.book-title
  font-size: 32pt
h2.author
  font-size: 14pt
  // font-family: 'Tangerine', cursive

.sofa
  img
    width: 35%
  position: fixed
  bottom: 30px

.titles
  margin-top: 80px

.downloads
  margin-top: 140px

.btn-spacer
  height: 50px
