---
title: I Love Ruby - Free Ruby programming book
---
.titles
  h1.book-title I Love Ruby
  h2.author - Karthikeyan A K
/ nav
/   ul
/     li = link_to "Download", "#"
/     li = link_to "What people say", "#"
.downloads
  .row
    .col-md-12 = partial "download_button"
.sofa
  img src="images/sofa.png"
