---
title: I Love Ruby - Free Ruby programming book
---
.titles
  h1.book-title I Love Ruby
  h2.author - Karthikeyan A K
  p = link_to "Home Page", :index, class: "button btn btn-success btn-lg"

.downloads.text-center
  p
    img src="images/2_year_fan.png"
  p
    img src="images/adeteye_confession.png"
  p
    img src="images/arun_confession.png"
  p
    img src="images/ilr_comment.png"
  p
   img src="images/manimaran_confession.png"
  p
    img src="images/michael_stanford.png"
  p
    img src="images/wonderful_ilr.png"
  p = link_to "<< Home Page", :index, class: "button btn btn-success btn-lg"
